/* You can add global styles to this file, and also import other style files */

.cdk-overlay-pane {
    height: auto !important;
    width: auto !important;
}

.mat-dialog-container {
    padding: 40px !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
